body {
    font-family: 'Roboto', sans-serif; /* 기본 폰트 */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #e9ecef; /* 연한 회색 배경 */
}

.container {
    text-align: center;
    background: white; /* 흰색 배경 */
    border-radius: 15px; /* 모서리 둥글게 */
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
    padding: 80px; /* 여백 증가 */
    width: 600px; /* 고정 폭 증가 */
}

h1, h2 {
    color: #343a40; /* 어두운 텍스트 */
    font-size: 32px; /* 제목 크기 증가 */
}

input[type="text"] {
    width: 100%; /* 전체 폭 사용 */
    height: 100px; /* 이름 입력 칸 높이 */
    border: 1px solid #ced4da; /* 회색 테두리 */
    border-radius: 10px; /* 둥근 모서리 */
    margin-bottom: 30px; /* 줄 바꿈을 위한 여백 */
    padding: 0 20px; /* 내부 여백 증가 */
    font-size: 22px; /* 폰트 크기 증가 */
    transition: border-color 0.3s; /* 테두리 색상 변화 효과 */
}

input[type="text"]:focus {
    border-color: #80bdff; /* 포커스 시 테두리 색상 */
    outline: none; /* 기본 아웃라인 제거 */
}

select {
    width: 32%; /* 드롭다운 폭 조정 */
    height: 50px; /* 드롭다운 높이 */
    border: 1px solid #ced4da; /* 회색 테두리 */
    border-radius: 10px; /* 둥근 모서리 */
    margin-bottom: 30px; /* 줄 바꿈을 위한 여백 */
    padding: 0 10px; /* 내부 여백 */
    font-size: 18px; /* 폰트 크기 */
    transition: border-color 0.3s; /* 테두리 색상 변화 효과 */
}

select:focus {
    border-color: #80bdff; /* 포커스 시 테두리 색상 */
    outline: none; /* 기본 아웃라인 제거 */
}

button {
    padding: 20px 40px; /* 패딩 증가 */
    font-size: 22px; /* 버튼 글씨 크기 증가 */
    margin-top: 20px;
    cursor: pointer;
    background-color: #007bff; /* 파란색 배경 */
    color: white; /* 흰색 텍스트 */
    border: none; /* 테두리 없음 */
    border-radius: 10px; /* 둥글은 모서리 */
    transition: background-color 0.3s; /* 배경색 변화 효과 */
}

button:hover {
    background-color: #0056b3; /* 호버 시 어두운 파란색 */
}

pre {
    background: #f8f9fa; /* 결과 박스 배경 */
    border-radius: 10px; /* 둥근 모서리 */
    padding: 20px; /* 내부 여백 증가 */
    font-size: 30px; /* 글씨 크기 증가 */
    color: #495057; /* 어두운 텍스트 */
    white-space: pre-wrap; /* 줄 바꿈 유지 */
    font-family: 'Nanum Pen Script', cursive; /* 손글씨 스타일 폰트 */
}


.nanum-pen-script-regular {
    font-family: "Nanum Pen Script", cursive;
    font-weight: 400;
    font-style: normal;
}
  
/* 구글 폰트 추가 */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
